<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RepositoryURITemplate" value="http://dumps.wikimedia.org/other/pageviews/{0}/{0}-{1}/pageviews-{2}-{3}.gz"/>
    <add key="DownloadFolder" value="c:/tmp/compressed"/>
    <add key="UncompressedFolder" value="c:/tmp/uncompressed"/>
  </appSettings>
</configuration>